body{
    color: #fff !important;
}

#login-page, #login-page-row, #login-section, bg-image-section{
    height: 100%;
}

#login-page{
    position: absolute;
    margin-top: -70px;
    width: 100%;
}

#bg-image-section {
    background:
            linear-gradient(
                    rgba(45, 45, 45, 0.45 ),
                    rgba(45, 45, 45, 0.45 )
                ), url('../../../assets/images/generics/depositphotos_32902589-stock-photo-taking-care-of-patient.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;

}


#login-section{
    background-color: #222;
    border: black;
}