<app-top-nav></app-top-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <h1>Patient Details</h1>
          <select class="form-control" #patientList name="patients" (change)="displayPatientDetails(patientList.value)">
            <option value="-1">Please select your patient...</option>
            <option *ngFor="let patient of patients$ | async;" [value]="patient.id">
              {{ patient.name }}
            </option>
          </select>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <div class="row" *ngIf="isPatientSelected">
        <div class="col-md-4">
          <img src="../../../assets/images/generics/person-placeholder.jpg" class="align-bottom form-control" alt="headshot">
        </div>
        <div class="col-md-8">
          {{ selectedPatient.name }} <br />
          Age: {{ selectedPatient.age }} <br />
          Gender: {{ selectedPatient.gender }} <br />
          Notes: {{ selectedPatient.notes }} <br />
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row"  *ngIf="isPatientSelected">
    <div class="col-md-6">
      <h1>Behaviour Details</h1>
      <select class="form-control" [(ngModel)]="selectedBehaviourType" name="behaviours" (change)="displayBehaviourTypes()">
        <option value="-1">Please select a behaviour type...</option>
        <option *ngFor="let behaviourSummary of behaviourSummaries;" [value]="behaviourSummary.name">
          {{ behaviourSummary.name }}
        </option>
      </select>
      <br />
      <form *ngIf="isBehaviourTypeSelected">
        <div *ngFor="let behaviour of behaviours;">
          <div class="form-group" *ngIf="behaviour.summary === selectedBehaviourType">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" [(ngModel)]="selectedBehaviourCode" class="form-check-input" name="behaviourType" (change)="displayBehaviourDetails()" [value]="behaviour.code">
                {{ behaviour.code }} - {{ behaviour.type }}
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <h3>Please Select Appropriate Details</h3>
      <br>
      <form *ngIf="isBehaviourCodeSelected">
        <div *ngFor="let behaviourDetail of behaviourDetails;">
          <div *ngIf="behaviourDetail.code === selectedBehaviourCode">
            <div class="form-group" *ngFor="let behaviourDescription of behaviourDetail.details;">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" [(ngModel)]="selectedBehaviourDetailInfo" class="form-check-input" name="behaviourDetailInfo" [value]="behaviourDescription">
                    {{ behaviourDetail.code }} - <span [innerHTML]="behaviourDescription"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
